<h3>air works!</h3>

<div class="col-12" style="padding: 0px; margin-bottom: 20px;" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Please wait. . .">
    <div class="row"> 
    <div
    class="col-xxxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12" style="display: inline-block; margin-bottom: 0.30rem;">
        <nb-accordion
        >
            <nb-accordion-item
            >
                <nb-accordion-item-header 
                class="col-lg-12 col-md-12 col-m-12 col-12" style="padding-top: 0; padding-bottom: 0; pointer-events: auto;">
                    <div class="row" style="display:inline-flex; width: 100%; padding: 0.1rem 0.5rem 0.1rem 1rem;">
                        <!-- Start Name Room & AIR -->
                        <div *ngIf="InputLock === 'UNLOCK'"
                        class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-left: 0;">
                            <p
                            style="font-size: 1rem;font-weight: 300; margin-top: 0.5rem; margin-bottom: 0.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                            (click)="$event.stopPropagation()"
                            (dblclick)="edit_toggle(dialog, 'room')">
                                RooM: {{nameRoom}}    ({{nameAir}} _Air)
                            </p>   
                        </div>
                        <div *ngIf="InputLock === 'LOCK'"
                        class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-left: 0;">
                            <p
                            style="font-size: 1rem;font-weight: 300; margin-top: 0.5rem; margin-bottom: 0.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            RooM: {{nameRoom}}    ({{nameAir}} Air)
                            </p>
                        </div>
                        <!-- End Name Room & AIR -->

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="justify-content: center; padding-left: 0px; margin-bottom: 0.2rem; display:inline-flex;">
                            <!-- Start Power ON/OFF -->
                            <div 
                            class="col-1" style="text-align:center; align-items:center; margin-right: 5%;">
                                <swal #toggleOff
                                    html='Do you want to turn <strong>{{ "OFF" }}</strong> ?'
                                    icon="warning" [showCancelButton]="true" [focusCancel]="true"
                                    confirmButtonColor="#00d68f" cancelButtonColor="#ff3d71" confirmButtonText="YES"
                                    cancelButtonText="NO"  (confirm)="turnOnOff('OFF') ">
                                </swal>
                                <swal #toggleOn
                                    html='Do you want to turn <strong>{{ "ON" }}</strong> ?'
                                    icon="warning" [showCancelButton]="true" [focusCancel]="true"
                                    confirmButtonColor="#00d68f" cancelButtonColor="#ff3d71" confirmButtonText="YES"
                                    cancelButtonText="NO"  (confirm)="turnOnOff('ON') ">
                                </swal>

                                <div *ngIf="InputPower === 'OFF' && InputLock === 'UNLOCK' && InputError === undefined">
                                    <nb-icon
                                        style="cursor: pointer;" status="danger" class="icon-power"
                                        icon="power-outline" nbPopover="Power off" nbPopoverTrigger="hint"
                                        [swal]="toggleOn">
                                    </nb-icon>
                                    <label style="font-size: 14px; color: rgb(255, 61, 113);">OFF.</label>
                                </div>
                                <div *ngIf="InputPower === 'ON' && InputLock === 'UNLOCK' && InputError === undefined">
                                    <nb-icon 
                                        style="cursor: pointer;" status="success" class="icon-power"
                                        icon="power-outline" nbPopover="Power on" nbPopoverTrigger="hint"
                                        [swal]="toggleOff">
                                    </nb-icon>
                                    <label style="font-size: 14px; color: rgb(0, 214, 143);">.ON</label>
                                </div>
                                <div *ngIf="InputLock === 'LOCK' && InputError === undefined">
                                    <nb-icon
                                        style="cursor: pointer;" status="danger" class="icon-power"
                                        icon="power-outline" nbPopover="LOCK" nbPopoverTrigger="hint"
                                        >
                                    </nb-icon>
                                    <label style="font-size: 12px; color: rgb(255, 61, 113);">LOCK</label>
                                </div>
                                <div *ngIf="InputError !== undefined">
                                    <nb-icon
                                        icon="power-outline" status="basic"
                                        style="cursor: pointer; width: 2rem; height: 2rem;" 
                                        nbPopover="LOCK" nbPopoverTrigger="hint">
                                    </nb-icon>
                                    <label style="font-size: 12px; color: rgb(172, 172, 172);">LOCK</label>
                                </div>                                   
                            </div>
                            <!-- End Power ON/OFF -->

                            <!-- Start System Icon -->
                            <div *ngIf="InputError === undefined else elseBlockSystem"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img nbPopover="System is working." nbPopoverTrigger="hint"
                                src="../../assets/images/System_icon_green-01.svg" alt="System"
                                class="img-status">
                            </div>
                            <ng-template #elseBlockSystem>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img nbPopover="System is not working." nbPopoverTrigger="hint"
                                    src="../../assets/images/System_icon_gray-01.svg" alt="System"
                                    class="img-status">                           
                                </div>
                            </ng-template>
                            <!-- End System Icon -->

                            <!-- Start Ethernet Model -->
                            <div *ngIf="InputError === undefined else elseBlockEther"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img nbPopover="Ethernet is connected." nbPopoverTrigger="hint"
                                src="../../assets/images/Ethernet_icon_green-01.svg"
                                class="img-status" style="margin: left 0.1em;">
                            </div>
                            <ng-template #elseBlockEther>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img nbPopover="Ethernet is not connected." nbPopoverTrigger="hint"
                                    src="../../assets/images/Ethernet_icon_gray-01.svg"
                                    class="img-status" style="margin: left 0.1em;">
                                </div>
                            </ng-template>
                            <!-- End Ethernet Model -->

                            <!-- Start Wifi Icon -->
                            <div *ngIf="InputError === undefined else elseBlockWifi"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img nbPopover="Wifi is connected." nbPopoverTrigger="hint"
                                src="../../assets/images/WiFi_icon_green.svg" alt="Ethernet"
                                class="img-status" style="margin: left 0.1em;">
                            </div>
                            <ng-template #elseBlockWifi>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img nbPopover="Wifi is not connected." nbPopoverTrigger="hint"
                                    src="../../assets/images/WiFi_icon_gray-01.svg"
                                    class="img-status" style="margin: left 0.1em;">
                                </div>
                            </ng-template>
                            <!-- End Wifi Icon -->

                            <!-- Temp Room -->
                            <div *ngIf="InputError === undefined else elseBlockTemp"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img src="../../assets/images/Device_temp_green-01.svg"
                                nbPopover="Temp Room" nbPopoverTrigger="hint"
                                class="img-status" style="margin: left 0.1em;">
                                <div>
                                    <label style="font-size: 14px;"> 31°C </label>
                                </div>
                            </div>
                            <ng-template #elseBlockTemp>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img nbPopover="Temperature is not connected." nbPopoverTrigger="hint"
                                    src="../../assets/images/Device_temp_gray-01.svg"
                                    class="img-status" style="margin: left 0.1em;">
                                </div>
                            </ng-template>

                            <!-- Humid Room -->
                            <div *ngIf="InputError === undefined else elseBlockHumid"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img src="../../assets/images/Humidity4.svg"
                                nbPopover="Humid Room" nbPopoverTrigger="hint"
                                class="img-status" style="margin: left 0.1em;">
                                <div>
                                    <label style="font-size: 14px; align-items:center"> 23% </label>
                                </div>
                            </div>
                            <ng-template #elseBlockHumid>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img src="../../assets/images/Humidity5.svg"
                                    nbPopover="Humid is not connected." nbPopoverTrigger="hint"
                                    class="img-status" style="margin: left 0.1em;">
                                </div>
                            </ng-template>

                            <!-- Pressur Room -->
                            <div *ngIf="InputError === undefined else elseBlockPressure"
                            class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <img src="../../assets/images/Air pressure2-01.svg"
                                nbPopover="Pressure Room" nbPopoverTrigger="hint"
                                class="img-status" style="margin: left 0.1em;">
                                <div>
                                    <label style="font-size: 12px;">??..</label>
                                </div>
                            </div>
                            <ng-template #elseBlockPressure>
                                <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                    <img src="../../assets/images/Air_pressure2-01.svg"
                                    nbPopover="Pressure is not connected." nbPopoverTrigger="hint"
                                    class="img-status" style="margin: left 0.1em;">
                                </div>
                            </ng-template>

                            <!-- Start Perset -->
                            <div class="col-1" style="text-align:end; align-items:end; margin-right: 5%;">
                                <div>
                                    <img src="../../assets/images/preset.png" class="img-status"
                                    nbPopover="Preset setting" nbPopoverTrigger="hint"
                                    >
                                    <div>
                                        <label style="font-size: 14px;"> 25°C </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End Perset -->
                        </div>
                    </div>
                </nb-accordion-item-header>

                <nb-accordion-item-body nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Please wait. . .">
                    <div 
                    class="row">
                        <!-- Start Mini Menu -->
                        <div class="col-xxxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div 
                            class="row" style="float: right; margin-left: 0.6rem; margin-right: 0.2rem;">
                                <!-- Lock Menu -->
                                <nb-icon
                                    *ngIf="InputLock === 'UNLOCK'"
                                    nbPopover="Click to lock outlet." nbPopoverTrigger="hint"
                                    nbPopoverPlacement="top" icon="lock" status="success"
                                    style="cursor: pointer; margin-right: 0.5rem;"
                                    (click)="changeLock(0)" (click)="$event.stopPropagation()">
                                </nb-icon>&nbsp;
                                <nb-icon
                                    *ngIf="InputLock === 'LOCK'"
                                    nbPopover="Click to unlock outlet." nbPopoverTrigger="hint"
                                    nbPopoverPlacement="top" icon="unlock" status="danger"
                                    style="cursor: pointer; margin-right: 0.5rem;"
                                    (click)="changeLock(1)" (click)="$event.stopPropagation()">
                                </nb-icon>

                                <!-- Chart Menu -->
                                <div class="status-1">
                                    <a>
                                        <nb-icon style="cursor: pointer; margin-right: 0.5rem;" icon="activity-outline"
                                            nbPopover="Click to show the realtime data" nbPopoverTrigger="hint"
                                            nbPopoverPlacement="top">
                                        </nb-icon>
                                    </a>
                                </div>&nbsp;

                                <!-- Option Menu -->
                                <div [nbPopover]="minimenu"
                                style="cursor:pointer;" nbPopoverTrigger="click"
                                nbPopoverPlacement="bottom">
                                    <nb-icon icon="more-horizontal-outline" nbPopover="Options."
                                    nbPopoverTrigger="hint" nbPopoverPlacement="top"
                                    style="cursor: pointer;">
                                    </nb-icon>
                                </div>
                            </div>
                        </div>
                        <!-- End Mini Menu -->

                        <!-- Start Temperature Control -->
                        <div class="col-xxxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <!-- Text Temp -->
                                <div class="col-xxxl-4 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                    <div 
                                    style="text-align:left; align-items:center; justify-content:left; margin-bottom: 0.3rem;">
                                        <!-- Power ON -->
                                        <input *ngIf="InputPower === 'ON'"
                                        type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" 
                                        class="input text-center" style="font-size: 35px; display: flex;"
                                        size="2"  nbPopover="Input Temperature" nbPopoverTrigger="hint"
                                        nbInput placeholder="{{InputTemp}}" nbInput shape="semi-round"
                                        [(ngModel)]="InputTemp" (keyup.enter)="send_temp()" (focusout)="25">
                                        <!-- Power OFF -->
                                        <input *ngIf="InputPower === 'OFF'"
                                        type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" 
                                        class="input text-center status-1" style="font-size: 35px; cursor: not-allowed;"
                                        size="2" nbPopover="Input Temperature" nbPopoverTrigger="hint"
                                        placeholder="{{InputTemp}}" nbInput shape="semi-round"
                                        [(ngModel)]="InputTemp" disabled>
                                    </div>

                                    <div *ngIf="InputTemp > 15 && InputTemp < 31; else elseBlock" style="color:rgb(0, 255, 38); margin-left: 10px;"> Temp Correct</div>
                                        <ng-template #elseBlock > 
                                            <div style="color:rgb(255, 0, 0);">Temp. Wrong</div>
                                        </ng-template>
                                    </div>

                                <!-- Up-Down Temperature -->
                                <div class="col-xxxl-1 col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                    <div 
                                    style="text-align:left; align-items:center; justify-content:left; margin-bottom: 0.3rem;">
                                        <div>
                                            <!-- Power ON -->
                                            <nb-icon *ngIf="InputPower === 'ON'"
                                            class="temp-icon d-inline-flex" icon="plus-outline" status="success"
                                            style="width: 2rem; cursor: pointer;" nbPopover="increase temperature" nbPopoverTrigger="hint"
                                            (click)="inc_temp()">
                                            </nb-icon>
                                            <!-- Power OFF -->
                                            <nb-icon *ngIf="InputPower === 'OFF'"
                                            class="temp-icon d-inline-flex" icon="plus-outline" status="basic"
                                            style="width: 2rem; cursor: pointer;" nbPopover="increase temperature" nbPopoverTrigger="hint">
                                            </nb-icon>
                                        </div>
                                        <div>
                                            <!-- Power ON -->
                                            <nb-icon *ngIf="InputPower === 'ON'"
                                            class="temp-icon d-inline-flex" icon="minus-outline" status="success" 
                                            style="width: 2rem; cursor: pointer;" nbPopover="decrease temperature" nbPopoverTrigger="hint"
                                            (click)="dec_temp()">
                                            </nb-icon>
                                            <!-- Power OFF -->
                                            <nb-icon *ngIf="InputPower === 'OFF'"
                                            class="temp-icon d-inline-flex" icon="minus-outline" status="basic" 
                                            style="width: 2rem; cursor: pointer;" nbPopover="decrease temperature" nbPopoverTrigger="hint">
                                            </nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Temperature Control -->

                                <!-- Start Channel -->
                                <div class="col-xxxl-7 col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                    <table role="table" fullWidth style="margin-left: 1.5rem; margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                        <tbody role="rowgroup">
                                            <tr role="row" class="o-top">
                                                <td role="cell">
                                                    <div *ngIf="InputLock === 'UNLOCK'"
                                                    style="font-size: 1rem; width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <strong
                                                        (click)="$event.stopPropagation()"
                                                        (dblclick)="edit_toggle(channelRef, 'channel')"
                                                        style="cursor: pointer;">
                                                            Channel {{channel}}
                                                        </strong>
                                                    </div>
                                                    <div *ngIf="InputLock === 'LOCK'"
                                                    style="font-size: 1rem; width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <strong style="cursor: pointer;"> Channel {{channel}} </strong>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr role="row" class="o-top">
                                                <td role="cell">
                                                    <div *ngIf="InputLock === 'UNLOCK'"
                                                    style="font-size: 1rem; width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <p
                                                        (click)="$event.stopPropagation()"
                                                        (dblclick)="edit_toggle(descriptionRef, 'description')"
                                                        style="opacity: 0.6; cursor: pointer;">
                                                            {{description}}
                                                        </p>
                                                    </div>
                                                    <div *ngIf="InputLock === 'LOCK'"
                                                    style="font-size: 1rem; width: 10rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <p style="opacity: 0.6; cursor: pointer;"> {{description}} </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End Channel -->
                            </div>
                        </div>
                        <!-- End Temperature Control -->

                        <!-- Start Control Fan & Mode & Option-->
                        <div class="col-xxxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <!-- Start Level Fan -->
                            <div 
                            class="row" style="margin-top: 0.5rem; text-align:center; align-items:center; justify-content: center; cursor: pointer;">
                                <!-- Default Theme -->
                                <div class="d-inline-flex" >
                                <!-- *ngIf="currentTheme === 'default'" -->
                                    <!-- Fan -->
                                    <div *ngFor="let fan of smt.fan[0].data;">
                                        <div class="col">
                                            <img *ngIf="InputPower === 'ON'"
                                            [style]="fan.type == InputFan? 'width:2.3rem; height:2.3rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'width:2.3rem; height:2.3rem;'"
                                            src="{{fan.imgsrc}}"
                                            nbPopover="Fan level {{fan.type}} " nbPopoverTrigger="hint"
                                            (click)="selectFan(fan.type)" (click)="$event.stopPropagation()">

                                            <img *ngIf="InputPower === 'OFF'"
                                            [style]="fan.type == InputFan? 'cursor: not-allowed; width:2.3rem; height:2.3rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'cursor: not-allowed; width:2.3rem; height:2.3rem;'"
                                            src="{{fan.imgsrc}}" class="status-1"
                                            nbPopover="Fan level {{fan.type}} " nbPopoverTrigger="hint" disabled>
                                        </div>
                                    </div>

                                    <!-- Swing -->
                                    <div class="col">
                                        <img *ngIf="InputPower === 'ON' && InputSwing === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);width:2rem; height:2rem;'
                                        src="../../assets/images/swing.png" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint"
                                        (click)="changeSwing('OFF')" (click)="$event.stopPropagation()">

                                        <img *ngIf="InputPower === 'ON' && InputSwing === 'OFF'"
                                        style='width:2rem;height:2rem'
                                        src="../../assets/images/swing.png" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint"
                                        (click)="changeSwing('ON')" (click)="$event.stopPropagation()">

                                        <img *ngIf="InputPower === 'OFF'"
                                        style='cursor: not-allowed; width:2rem;height:2rem;'
                                        src="../../assets/images/swing.png" class="status-1" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint" disabled>
                                    </div>
                                </div>

                                <!-- Dark Theme -->
                                <!-- <div class="d-inline-flex" *ngIf="currentTheme === 'dark' || currentTheme === 'cosmic'"> -->
                                    <!-- Fan -->
                                    <!-- <div *ngFor="let fan of smt.fan[1].data;">
                                        <div class="col">
                                            <img *ngIf="InputPower === 'ON'"
                                            [style]="fan.type == InputFan? 'width:2.3rem; height:2.3rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'width:2.3rem; height:2.3rem;'"
                                            src="{{fan.imgsrc}}"
                                            nbPopover="Fan level {{fan.type}} " nbPopoverTrigger="hint"
                                            (click)="selectFan(fan.type)" (click)="$event.stopPropagation()">

                                            <img *ngIf="InputPower === 'OFF'"
                                            [style]="fan.type == InputFan? 'cursor: not-allowed; width:2.3rem; height:2.3rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'cursor: not-allowed; width:2.3rem; height:2.3rem;'"
                                            src="{{fan.imgsrc}}" class="status-1"
                                            nbPopover="Fan level {{fan.type}} " nbPopoverTrigger="hint" disabled>
                                        </div>
                                    </div> -->

                                    <!-- Swing -->
                                    <!-- <div class="col">
                                        <img *ngIf="InputPower === 'ON' && InputSwing === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);width:2rem; height:2rem;'
                                        src="../../assets/images/air-swing-color.png" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint"
                                        (click)="changeSwing('OFF')" (click)="$event.stopPropagation()">

                                        <img *ngIf="InputPower === 'ON' && InputSwing === 'OFF'"
                                        style='width:2rem;height:2rem'
                                        src="../../assets/images/air-swing-color.png" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint"
                                        (click)="changeSwing('ON')" (click)="$event.stopPropagation()">

                                        <img *ngIf="InputPower === 'OFF'"
                                        style='cursor: not-allowed; width:2rem;height:2rem;'
                                        src="../../assets/images/air-swing-color.png" class="status-1" nbPopover="Swing {{InputSwing}}" nbPopoverTrigger="hint" disabled>
                                    </div>
                                </div> -->
                            </div>
                            <!-- End Level Fan -->

                            <!-- Start Mode -->
                            <div 
                            class="row" style="margin-top: 1.5rem; text-align:center; align-items:center; justify-content: center; cursor: pointer;">
                                <!-- Default Theme -->
                                <div class="d-inline-flex">
                                <!-- ngIf="currentTheme === 'default'" -->
                                    <div *ngFor="let mode of smt.src[0].data; let j = index">
                                        <div class="col" style="padding-left:0.6rem; padding-right: 0.6rem;">
                                            <!-- Mode -->
                                            <img *ngIf="InputPower === 'ON'"
                                            [style]="mode.type == InputMode? 'width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'width:2rem; height:2rem; '"
                                            src="{{mode.imgsrc}}"
                                            nbPopover="{{mode.type}} Mode" nbPopoverTrigger="hint"
                                            (click)="changeMode(mode.type)" (click)="$event.stopPropagation()">

                                            <img *ngIf="InputPower === 'OFF'"
                                            [style]="mode.type == InputMode? 'cursor: not-allowed; width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'cursor: not-allowed; width:2rem; height:2rem; '"
                                            src="{{mode.imgsrc}}" class="status-1" nbPopover="{{mode.type}} Mode" nbPopoverTrigger="hint" disabled>
                                        </div>
                                    </div>
                                </div>
                                    
                                <!-- Dark Theme -->
                                <!-- <div class="d-inline-flex" *ngIf="currentTheme === 'dark' || currentTheme === 'cosmic'">
                                    <div *ngFor="let mode of smt.src[1].data; let j = index">
                                        <div class="col" style="padding-left:0.6rem; padding-right: 0.6rem;"> -->
                                            <!-- Mode -->
                                            <!-- <img *ngIf="InputPower === 'ON'"
                                            [style]="mode.type == InputMode? 'width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'width:2rem; height:2rem; '"
                                            src="{{mode.imgsrc}}"
                                            nbPopover="{{mode.type}} Mode" nbPopoverTrigger="hint"
                                            (click)="changeMode(mode.type)" (click)="$event.stopPropagation()">

                                            <img *ngIf="InputPower === 'OFF'"
                                            [style]="mode.type == InputMode? 'cursor: not-allowed; width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);':'cursor: not-allowed; width:2rem; height:2rem; '"
                                            src="{{mode.imgsrc}}" class="status-1" nbPopover="{{mode.type}} Mode" nbPopoverTrigger="hint" disabled>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- End Mode -->
                            
                            <div 
                            class="row" style="margin-top: 1.5rem; text-align:center; align-items:center; justify-content: center; cursor: pointer;">
                                <!-- Default Theme -->
                                <div class="d-inline-flex">
                                <!-- ngIf="currentTheme === 'default'" -->
                                    <!-- Sleep Mode -->
                                    <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputSleep === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-sleep.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        (click)="changeSleep('OFF')" (click)="$event.stopPropagation()">
                        
                                        <img *ngIf="InputSleep === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-sleep.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        (click)="changeSleep('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='cursor: not-allowed; width:2rem;height:2rem;'
                                        src="../../assets/images/air-sleep.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div>
                                       
                                    <!-- Turbo Mode -->
                                    <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputTurbo === 'ON'"
                                        style='width:2rem; height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-turbo.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        (click)="changeTurbo('OFF')" (click)="$event.stopPropagation()">
                            
                                        <img *ngIf="InputTurbo === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-turbo.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        (click)="changeTurbo('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-turbo.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div>

                                    <!-- Quiet Mode -->
                                    <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputQuiet === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-silence.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        (click)="changeQuiet('OFF')" (click)="$event.stopPropagation()">                                
                                    
                                        <img *ngIf="InputQuiet === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-silence.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        (click)="changeQuiet('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-silence.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div>

                                    <!-- Light Mode -->
                                    <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputLight === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);width:2rem; height:2rem;'
                                        src="../../assets/images/air-light.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        (click)="changeLight('OFF')" (click)="$event.stopPropagation()">
                                    
                                        <img *ngIf="InputLight === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-light.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        (click)="changeLight('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-light.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div> 
                                </div>

                                <!-- Dark Theme -->
                                <!-- <div class="d-inline-flex" *ngIf="currentTheme === 'dark' || currentTheme === 'cosmic'"> -->
                                    <!-- Sleep Mode -->
                                    <!-- <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputSleep === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-sleep-w.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        (click)="changeSleep('OFF')" (click)="$event.stopPropagation()">
                        
                                        <img *ngIf="InputSleep === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-sleep-w.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        (click)="changeSleep('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='cursor: not-allowed; width:2rem;height:2rem;'
                                        src="../../assets/images/air-sleep-w.png" nbPopover="Sleep {{InputSleep}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div> -->
                                       
                                    <!-- Turbo Mode -->
                                    <!-- <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputTurbo === 'ON'"
                                        style='width:2rem; height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-turbo-w.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        (click)="changeTurbo('OFF')" (click)="$event.stopPropagation()">
                            
                                        <img *ngIf="InputTurbo === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-turbo-w.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        (click)="changeTurbo('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-turbo-w.png" nbPopover="Turbo {{InputTurbo}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div> -->

                                    <!-- Quiet Mode -->
                                    <!-- <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputQuiet === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);'
                                        src="../../assets/images/air-silence-w.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        (click)="changeQuiet('OFF')" (click)="$event.stopPropagation()">                                
                                    
                                        <img *ngIf="InputQuiet === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-silence-w.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        (click)="changeQuiet('ON')" (click)="$event.stopPropagation()">
                                    </div>
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-silence-w.png" nbPopover="Quiet {{InputQuiet}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div> -->

                                    <!-- Light Mode -->
                                    <!-- <div *ngIf="InputPower === 'ON'" class="col">
                                        <img *ngIf="InputLight === 'ON'"
                                        style='width:2rem;height:2rem; filter: invert(33%) sepia(99%) saturate(2977%) hue-rotate(218deg) brightness(100%) contrast(101%);width:2rem; height:2rem;'
                                        src="../../assets/images/air-light-w.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        (click)="changeLight('OFF')" (click)="$event.stopPropagation()">
                                    
                                        <img *ngIf="InputLight === 'OFF'"
                                        style='width:2rem;height:2rem;'
                                        src="../../assets/images/air-light-w.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        (click)="changeLight('ON')" (click)="$event.stopPropagation()">
                                    </div> 
                                    <div *ngIf="InputPower === 'OFF'" class="col">
                                        <img 
                                        style='width:2rem; height:2rem; cursor: not-allowed;'
                                        src="../../assets/images/air-light-w.png" nbPopover="Light {{InputLight}}" nbPopoverTrigger="hint"
                                        class="status-1" disabled>
                                    </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    </div> 
</div>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="max-width: 70rem;">
        <nb-card-header class="text-wrap">Change RooM</nb-card-header>
        <nb-card-body>
            <input type="text" class="text-wrap" nbInput fullWidth shape="semi-round" placeholder="New Room name" maxlength="200"
            [(ngModel)]="newNameRoom" (keyup.enter)="ref.close()">
        </nb-card-body>
        <nb-card-footer class="padding-template">
            <button class="confirm-button" nbButton size="medium" status="success" (click)="changeRoomName()"
                (click)="ref.close()">Save</button>
            <button class="close-button" nbButton size="medium" status="danger" style="float:right;"
                (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #channelRef let-data let-ref="dialogRef">
    <nb-card style="max-width: 70rem;">
        <nb-card-header class="text-wrap">Change Channel</nb-card-header>
        <nb-card-body>
            <input type="text" class="text-wrap" nbInput fullWidth shape="semi-round" placeholder="New Channel" maxlength="200"
            [(ngModel)]="newChannel" (keyup.enter)="ref.close()">
        </nb-card-body>
        <nb-card-footer class="padding-template">
            <button class="confirm-button" nbButton size="medium" status="success" (click)="changeChannel()"
                (click)="ref.close()">Save</button>
            <button class="close-button" nbButton size="medium" status="danger" style="float:right;"
                (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #descriptionRef let-data let-ref="dialogRef">
    <nb-card style="width: 22.5rem;">
        <nb-card-header class="text-wrap">{{ data }}</nb-card-header>
        <nb-card-body>
            <textarea #textarea cols="35" rows="4" class="text-wrap" shape="semi-round" 
            nbInput type="text" fullWidth maxlength="250"
            placeholder="Description" [(ngModel)]="newDescription"(keyup.enter)="ref.close()"></textarea>
        </nb-card-body>
        <nb-card-footer class="padding-template">
            <button class="confirm-button" nbButton size="medium" status="success"
                (click)="changeDescription()" (click)="ref.close()">Save</button>
            <button class="close-button" nbButton size="medium" status="danger" style="float:right;"
                (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #minimenu>
    <nb-card class="popover-card">
        <nb-card-body>
            <nb-list *ngIf="InputLock === 'UNLOCK'">
                <nb-list-item style="font-size: 12px; cursor: pointer;"
                (click)="edit_toggle(dialog,'room')">
                Room Name
                </nb-list-item>

                <nb-list-item style="font-size: 12px; cursor: pointer;"
                (click)="edit_toggle(channelRef, 'channel')">
                Channel
                </nb-list-item>

                <nb-list-item style="font-size: 12px; cursor: pointer;"
                (click)="edit_toggle(descriptionRef, 'description')">
                Description
                </nb-list-item>
            </nb-list>
            <nb-list *ngIf="InputLock === 'LOCK'">
                <nb-list-item style="font-size: 12px; cursor: pointer;">
                Room Name </nb-list-item>

                <nb-list-item style="font-size: 12px; cursor: pointer;">
                Channel</nb-list-item>

                <nb-list-item style="font-size: 12px; cursor: pointer;">
                Description</nb-list-item>
            </nb-list>
        </nb-card-body>
    </nb-card>
</ng-template>