.icon-power{
    width: 2rem;
    height: 2rem;
}

.icon-power:hover{
    color: #3366ff ;
}

.img-status {
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}

.img-status2{
    width: 2rem;
    height: 2rem;


.icon-size{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}}

.danger{
    pointer-events: none;
    opacity: 0.6;
}
    
.status-1{
    pointer-events: none;
    opacity: 0.6;
}